# Perkox Offerwall (Android)
PERKOX_APP_ID=
PERKOX_SDK_ID=
PERKOX_API_KEY=
# Perkox Offerwall (iOS)
PERKOX_IOS_APP_ID=
PERKOX_IOS_SDK_ID=
PERKOX_IOS_API_KEY=
PERKOX_BETA=false
PERKOX_OFFERS_URL=https://api.perkox.com/offerwall/api/offers
PERKOX_WEB_OFFERWALL_URL=https://perkwall.com
